# Python
__pycache__/
*.pyc
.venv/
env/

# Data 
data/processed/
data/raw/*.csv

# OS
.DS_Store
Thumbs.db

# Models
models/
*.pth

# Jupyter
.ipynb_checkpoints/

# Dataset files (prevent accidental upload)
*.png
*.jpg
*.jpeg
*.dcm